FinalProject.WpfClient/Connected Services/TitleServiceReference/FinalProject.Domain.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/FinalProject.Domain" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/FinalProject.Domain" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Title">
    <xs:sequence>
      <xs:element minOccurs="0" name="EndYear" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="Genres" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IsAdult" nillable="true" type="xs:boolean" />
      <xs:element minOccurs="0" name="OriginalTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuntimeMinutes" nillable="true" type="xs:int" />
      <xs:element minOccurs="0" name="StartYear" nillable="true" type="xs:short" />
      <xs:element minOccurs="0" name="TitleId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TitleType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Title" nillable="true" type="tns:Title" />
  <xs:complexType name="ArrayOfTitle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Title" nillable="true" type="tns:Title" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTitle" nillable="true" type="tns:ArrayOfTitle" />
</xs:schema>