FinalProject.WpfClient/Connected Services/TitleServiceReference/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TitleService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/FinalProject.Domain" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITitleService_InsertTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertTitle" />
  </wsdl:message>
  <wsdl:message name="ITitleService_InsertTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertTitleResponse" />
  </wsdl:message>
  <wsdl:message name="ITitleService_GetTitleById_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTitleById" />
  </wsdl:message>
  <wsdl:message name="ITitleService_GetTitleById_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTitleByIdResponse" />
  </wsdl:message>
  <wsdl:message name="ITitleService_GetTitlesByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTitlesByTitle" />
  </wsdl:message>
  <wsdl:message name="ITitleService_GetTitlesByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTitlesByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="ITitleService_GetTitleRangeByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTitleRangeByTitle" />
  </wsdl:message>
  <wsdl:message name="ITitleService_GetTitleRangeByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTitleRangeByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="ITitleService_GetTitleCountByTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTitleCountByTitle" />
  </wsdl:message>
  <wsdl:message name="ITitleService_GetTitleCountByTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTitleCountByTitleResponse" />
  </wsdl:message>
  <wsdl:message name="ITitleService_UpdateTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTitle" />
  </wsdl:message>
  <wsdl:message name="ITitleService_UpdateTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateTitleResponse" />
  </wsdl:message>
  <wsdl:message name="ITitleService_DeleteTitle_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTitle" />
  </wsdl:message>
  <wsdl:message name="ITitleService_DeleteTitle_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTitleResponse" />
  </wsdl:message>
  <wsdl:portType name="ITitleService">
    <wsdl:operation name="InsertTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/ITitleService/InsertTitle" message="tns:ITitleService_InsertTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITitleService/InsertTitleResponse" message="tns:ITitleService_InsertTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTitleById">
      <wsdl:input wsaw:Action="http://tempuri.org/ITitleService/GetTitleById" message="tns:ITitleService_GetTitleById_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITitleService/GetTitleByIdResponse" message="tns:ITitleService_GetTitleById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTitlesByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/ITitleService/GetTitlesByTitle" message="tns:ITitleService_GetTitlesByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITitleService/GetTitlesByTitleResponse" message="tns:ITitleService_GetTitlesByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTitleRangeByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/ITitleService/GetTitleRangeByTitle" message="tns:ITitleService_GetTitleRangeByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITitleService/GetTitleRangeByTitleResponse" message="tns:ITitleService_GetTitleRangeByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTitleCountByTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/ITitleService/GetTitleCountByTitle" message="tns:ITitleService_GetTitleCountByTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITitleService/GetTitleCountByTitleResponse" message="tns:ITitleService_GetTitleCountByTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/ITitleService/UpdateTitle" message="tns:ITitleService_UpdateTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITitleService/UpdateTitleResponse" message="tns:ITitleService_UpdateTitle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTitle">
      <wsdl:input wsaw:Action="http://tempuri.org/ITitleService/DeleteTitle" message="tns:ITitleService_DeleteTitle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ITitleService/DeleteTitleResponse" message="tns:ITitleService_DeleteTitle_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ITitleService" type="tns:ITitleService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="InsertTitle">
      <soap:operation soapAction="http://tempuri.org/ITitleService/InsertTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleById">
      <soap:operation soapAction="http://tempuri.org/ITitleService/GetTitleById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitlesByTitle">
      <soap:operation soapAction="http://tempuri.org/ITitleService/GetTitlesByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleRangeByTitle">
      <soap:operation soapAction="http://tempuri.org/ITitleService/GetTitleRangeByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTitleCountByTitle">
      <soap:operation soapAction="http://tempuri.org/ITitleService/GetTitleCountByTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTitle">
      <soap:operation soapAction="http://tempuri.org/ITitleService/UpdateTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTitle">
      <soap:operation soapAction="http://tempuri.org/ITitleService/DeleteTitle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TitleService">
    <wsdl:port name="BasicHttpBinding_ITitleService" binding="tns:BasicHttpBinding_ITitleService">
      <soap:address location="http://localhost:8080/Design_Time_Addresses/FinalProject.WcfService/TitleService/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>